html,
body,
section {
    background-color: #e5e5e5;
}

header, footer {
    background-color: rgb(3, 3, 58);
}

th, td {
    text-align: center;
}

.bg-light-gray{
    background-color: rgb(183, 180, 234);
}

#nextDosesDiv, #takenDosesDiv{
    max-height: 400px;
    padding-right: 15px;
}